body {
    background-color: rgb(223, 251, 255);
    background-image: url("https://ww.namu.la/s/3c3382e124384c288fb051d1c20adf67b7d66db2b6864ffdbc33237978ee4efa3511ece344a9ec681eaaef4d3d7edd3e99355f24ed26e3bcb46b2afbf9e2ffff13aa340b0b99314945c1aa7675c76cecb9ded5cd2e240bfe41a5d49cc79a30ae");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-attachment: fixed;
    background-size: 10%;
}